<!DOCTYPE html>
<!-- TODO remove certain pops, delete this file, but find messages first and delete them -->
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="legal-terms-prompt-health-care-seniors">
<div id="certain-pops-legal" th:if="${T(org.codeforamerica.shiba.pages.PageUtils).isProgramEligible(pageDatasources,'CERTAIN_POPS')}">
<div class="accordion legal-stuff-accordion spacing-below-15" id="certain-pops-accordion">
        
         <div id="a5" class="accordion__content textarea-readonly legal-stuff-window spacing-below-35">
                       
            <div class="spacing-below-25">
            </div>
        </div>
        </div>
        </div>
</div>
</html>