<!-- Custom input for contionally displaying a warning message when both a county and Tribal Nation are selected.
     The conditional logic is included in this fragment.
     This input needs to be a custom input because:
       - using validation would block the ability to navigate forward
       - the NOTICE input is not conditional -->
       
<th:block th:fragment="bothWenAndCountySelectedWarning (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)}">
    <!-- When any county and White Earth Nation are selected. -->
    <div th:if="${data.get(input.name).valid(data) && data.get('county').value.size>0 && data.get('tribalNation').value.size>0 }">
	    <div th:with="county=${data.get('county').value[0]},
	                  tribalNation=${data.get('tribalNation').value[0]}">
			<div th:if="${county != '' AND tribalNation == 'White Earth Nation'}">
				<div class="text--error less-spacing-above-45 spacing-below-60">
					<i class="icon-warning"></i>
					<span th:text="#{identify-county-or-tribal-nation.do-not-select-county-and-wen}"></span>
				</div>
			</div>
    	</div>
    </div>
</th:block>
