<!-- Custom input for displaying formatted data as well as storing additional hidden data which will be needed later for writing to the PDF
	Parameters:
	  input - the input (as described in pages-config.yaml)
	  data - the PageData for this page (useful when returning\navigating back to this page)
 -->
<th:block th:fragment="childCareMentalHealthTimeInput(input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)},
                    personIdMapData=${data.get('personIdMap')},
                    hasHelpMessage=${input.helpMessageKey != null},
                    needsAriaLabel=${input.needsAriaLabel()},
                    whoNeedsHelp=${input.options.datasources.get('whoNeedsChildCareForMentalHealth').get('whoNeedsChildCare').value}">
	
  <div class="spacing-below-35 spacing-above-35" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
	  <div class="form-group">
    <th:block
        th:each="fullNameAndId, iterationStat: ${whoNeedsHelp}"
        th:with="fullNameAndIdArray=${#strings.arraySplit(fullNameAndId, ' ')},
                         index=${iterationStat.index},
                         NameId=${fullNameAndIdArray[#arrays.length(fullNameAndIdArray)-1]},
                         childName=${#strings.substringBefore(fullNameAndId, ' ' + NameId)},
                         you=#{general.you},
                         indexInInputData=${personIdMapData.value.indexOf(NameId)},
						 mentalHealthDetails=${indexInInputData < 0 ? '' : inputData.value.get(indexInInputData)}">

		<div style="margin-bottom: 1rem;">									               
        <label class="form-question" th:for="|mentalHealthDetails-${index}|"
               th:text="${T(org.codeforamerica.shiba.pages.PageUtils).householdMemberName(fullNameAndId, you)}"
               th:id="${'label-'+index}">
        </label>
        <p  class="text--help spacing-below-15" th:id="${'help-message-'+index}" th:text="#{${input.promptMessage.promptMessageKey}}"></p>
		<div class="text-input-group" >
        <input type="text"
               class="text-input form-width--medium spacing-below-30"
               th:readonly="${input.readOnly}"
               th:id="|mentalHealthDetails-${index}|"
               th:value="${mentalHealthDetails}"
               th:name="${formInputName}"
               th:attr="aria-describedby=${hasHelpMessage ? NameId + '-help-message' : ''},
               aria-labelledby=${'label-'+index}">
			   <div class="text-input-group__postfix" 
			   								 th:if="${input.inputPostfix != null}" th:text="#{${input.inputPostfix}}"></div>
		</div>
        <input type="hidden"
               th:id="|id-${index}|"
               th:value="${NameId}"
               th:name="personIdMap[]">
      </div>
	  
    </th:block>
	  </div>
  </div>
</th:block>
