<!-- Custom input for displaying household members in a checkbox. This needs to be custom because we're formatting the application data values that are displayed to the applicant on the screen -->
<th:block th:fragment="mentalHealthCheckboxes (input, data)" th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)},
					childrenInNeedingOfCareData =${input.options.datasources.get('childrenInNeedOfCare')},
					whoNeeds =${childrenInNeedingOfCareData != null ? childrenInNeedingOfCareData.get('whoNeedsChildCare') : null},
					childrenNeedingCare = ${whoNeeds != null && !whoNeeds.value.isEmpty() ? whoNeeds.value : {}}">

	<div class="spacing-above-35 form-group" th:classappend="${!inputData.valid(data)} ? 'form-group--error' : ''">
		<div class="spacing-below-60 word-wrap-break-word">
			<div role="group" aria-labelledby="page-header">
				<fieldset>
					<label th:for="householdMember-me" class="checkbox" th:with="fullName=${input.options.datasources.get('personalInfo').get('firstName').value[0] + ' ' + input.options.datasources.get('personalInfo').get('lastName').value[0]},
				   			fullNameWithId = ${fullName + ' applicant'}" th:if="${!childrenNeedingCare.contains(fullNameWithId)}">

						<input type="checkbox" th:id="householdMember-me" th:value="${fullNameWithId}"
							th:name="${formInputName}" th:checked="${inputData.value.contains(fullNameWithId)}">
						<span th:text="|${fullName} #{children-in-need-of-care.you}|"></span>
					</label>
					<th:block th:each="iteration, iterationStat: ${input.options.subworkflows.get('household')}">
						<th:block th:with="fullName=${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0] + ' ' + iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]},
									 fullNameWithId = ${fullName + ' ' + iteration.id}">
							<label th:for="|householdMember${iterationStat.index}|" class="checkbox"
								th:if="${!childrenNeedingCare.contains(fullNameWithId)}">
								<input type="checkbox" th:id="|householdMember${iterationStat.index}|"
									th:value="${fullNameWithId}" th:name="${formInputName}"
									th:checked="${inputData.value.contains(fullNameWithId)}">
								<span
									th:text="|${iteration.getPagesData().get('householdMemberInfo').get('firstName').value[0]}&nbsp;${iteration.getPagesData().get('householdMemberInfo').get('lastName').value[0]}|"></span>
							</label>
						</th:block>
					</th:block>
				</fieldset>
			</div>
		</div>
		<div th:replace="~{fragments/inputErrorFragment :: validationError(${data}, ${input})}"></div>
	</div>
</th:block>