<!-- This is a custom input for the schoolGrade page.
     This input is a custom input because it provides a variable number of grade inputs.
     It displays school grade data, it also stores hidden data that is needed for writing to the PDF.
     Parameters:
	   input - the input (as described in pages-config.yaml)
	   data - the PageData for this page (useful when returning\navigating back to this page)
-->
<th:block th:fragment="schoolGradeInput(input, data)" th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                   householdSubFlow=${input.options.subworkflows.get('household')},
                   schoolGrade=${data.get(input.name)},
                   personIdMap=${data.get('personIdMap')},
                   hasHelpMessage=${input.helpMessageKey != null},
                   schoolGradeListSize=${#lists.size(schoolGrade.value)},
                   idList=${pageDatasources.get('schoolDetails').get('personIdMap').value}">
                      
	<div class="spacing-below-35" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
		<div class="form-group">
			<th:block th:each="id, iterationStat: ${idList}" th:with="index=${iterationStat.index},
	             householdMemberInfoPageData=${householdSubFlow.pagesDataForId(id).getPage('householdMemberInfo')},
                 childName=${householdMemberInfoPageData.get('firstName').getValue(0) + ' ' + householdMemberInfoPageData.get('lastName').getValue(0)},
                 gradeInput=${!schoolGrade.value.isEmpty() && index lt schoolGradeListSize ? schoolGrade.value.get(index) : ''}">

				<label class="form-question spacing-below-15 spacing-above-30" th:for="|schoolGrade-${index}|"
					th:text="${childName}" th:id="${'label-' + index}">
				</label>
				<div class="select">
					<select th:id="|schoolGrade-${index}|" class="select__element " th:attr="aria-describedby=${hasHelpMessage ? 'help-message-' + index : ''},
                          aria-labelledby=${'label-' + index}" th:name="${formInputName}">
						<th:block th:each="option: ${input.options.selectableOptions}">
							<option th:value="${option.value}" th:text="#{${option.messageKey}}"
								th:selected="${option.value.equals(gradeInput)}">
							</option>
						</th:block>
					</select>
				</div>
				<input type="hidden" th:id="|personId-${index}|" th:value="${id}" th:name="schoolGradePersonIdMap[]">
		</div>
</th:block>
</div>
</th:block>