  
<th:block th:fragment="schoolGradeInput(input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)},
                    childIdMapData=${data.get('personIdMap')},
                    hasHelpMessage=${input.helpMessageKey != null},
                    needsAriaLabel=${input.needsAriaLabel()},
                    childIdList=${pageDatasources.get('schoolDetails').get('personIdMap').value}">
                       
  <div class="spacing-below-60" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <th:block
        th:each="fullNameAndId, iterationStat: ${childIdList}"
        th:with="fullNameAndIdArray=${#strings.arraySplit(fullNameAndId, ' ')},
                         NameId=${fullNameAndIdArray[#arrays.length(fullNameAndIdArray)-1]},
                         childName=${#strings.substringBefore(fullNameAndId, ' ' + NameId)},
                         you=#{general.you},
                         indexInInputData=${childIdMapData.value.indexOf(NameId)},
                         schoolGrade=${indexInInputData < 0 ? '' : inputData.value.get(indexInInputData)}">            
      <div class="form-group">
        <label class="form-question spacing-below-5" th:for="|${NameId}-schoolGrade|"
                 th:text="${NameId}"
                 th:id="${NameId + '-label'}">
        </label>
      <div class="select">
         <select th:id="|${NameId}-schoolGrade|"
                    class="select__element"
                    th:attr="aria-describedby=${hasHelpMessage ? NameId + '-help-message' : ''},
                             aria-labelledby=${NameId + '-label'}"
                             
                    th:name="${formInputName}">
            <th:block th:each="option: ${input.options.selectableOptions}">
                    <option th:value="${option.value}" th:text="#{${option.messageKey}}"
                            th:selected="${inputData.value.contains(option.value)}">
                    </option>
            </th:block>
            </select>
        </div>
        <input type="hidden"
               th:id="|${NameId}-id|"
               th:value="${NameId}"
               th:name="personIdMap[]">
      </div>
    </th:block>
  </div>
</th:block>