<!-- Custom input for displaying formatted data as well as storing additional hidden data which will be needed later for writing to the PDF -->
<th:block th:fragment="schoolDetailsNameInput (input, data)"
          th:with="formInputName=${T(org.codeforamerica.shiba.pages.PageUtils).getFormInputName(input.name)},
                    inputData=${data.get(input.name)},
                    childIdMapData=${data.get('personIdMap')},
                    hasHelpMessage=${input.helpMessageKey != null},
                    needsAriaLabel=${input.needsAriaLabel()},
                    whoIsGoingToSchool=${input.options.datasources.get('whoIsGoingToSchool').get('whoIsGoingToSchool').value},
                    childrenInNeedOfCare=${input.options.datasources.get('childrenInNeedOfCare').get('whoNeedsChildCare').value},
                    childrenInSchool=${T(org.codeforamerica.shiba.pages.PageUtils).getEligibleSchoolAndChildCareMembers(childrenInNeedOfCare, whoIsGoingToSchool)}">
                    
  <div class="spacing-below-35 spacing-above-35" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
	  <div class="form-group">
    <th:block
        th:each="fullNameAndId, iterationStat: ${childrenInSchool}"
        th:with="fullNameAndIdArray=${#strings.arraySplit(fullNameAndId, ' ')},
                         index=${iterationStat.index},
                         NameId=${fullNameAndIdArray[#arrays.length(fullNameAndIdArray)-1]},
                         childName=${#strings.substringBefore(fullNameAndId, ' ' + NameId)},
                         you=#{general.you},
                         indexInInputData=${childIdMapData.value.indexOf(NameId)},
                         schoolName=${indexInInputData < 0 ? '' : inputData.value.get(indexInInputData)}">
                         
        <label class="form-question" th:for="|schoolname-${index}|"
               th:text="${T(org.codeforamerica.shiba.pages.PageUtils).householdMemberName(fullNameAndId, you)}"
               th:id="${'label-'+index}">
        </label>
        <p  class="text--help spacing-below-15" th:id="${'help-message-'+index}" th:text="#{${input.promptMessage.promptMessageKey}}"></p>
        <input type="text"
               class="text-input form-width--medium spacing-below-30"
               th:readonly="${input.readOnly}"
               th:id="|schoolname-${index}|"
               th:value="${schoolName}"
               th:name="${formInputName}"
               th:attr="aria-describedby=${hasHelpMessage ? NameId + '-help-message' : ''},
               aria-labelledby=${'label-'+index}"
        >
        <input type="hidden"
               th:id="|id-${index}|"
               th:value="${NameId}"
               th:name="personIdMap[]">
      </div>
    </th:block>
  </div>
</th:block>
