<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="alreadyAppliedDetails">
	<div class="grid">

		<div class="grid__item width-one-twelfths">
		    <div class="spacing-below-60"></div>
			<div class="grid__item spacing-below-155">
				<div th:replace="fragments/icons/icon-check :: icon-check"></div>
			</div>
		</div>
		<div class="grid__item width-eight-twelfths  text--left">
			<div class="grid__item spacing-below-35">
				<div id="already-applied-details">
					<h1 class="h2 text--centered"
						th:utext="#{landing.waiting-to-here-back}"></h1>
				</div>
				<div>
					<p class="form-card__body-text"
						th:utext="#{landing.already-apply-description}"></p>
				</div>
				<div>
					<a href="#already-applied" lang="en"> <span lang="en"
						th:text="#{landing.contact-your-county-or-tribal-nation}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>