<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<!-- Single wrapper fragment containing both reveal boxes  -->
<div th:fragment="citizenshipAccordions">
	
	<!--Reveal box 1: U.S. citizenship types -->
	<div class="reveal reveal-adjacent spacing-below-35">
		<button th:text="#{us-citizen.reveal.citizenship-types.title}" type="button"
			class="reveal__link reveal__link-adjacent reveal__link__header-adjacent" aria-expanded="false"
			aria-controls="citizenship-types-content">
		</button>
		<div class="reveal__content reveal__content-adjacent" id="citizenship-types-content">
			<p><strong th:text="#{us-citizen.reveal.birthright.title}"></strong></p>
			<p th:text="#{us-citizen.reveal.birthright.description}"></p>

			<p><strong th:text="#{us-citizen.reveal.us-national.title}"></strong></p>
			<p th:text="#{us-citizen.reveal.us-national.description}"></p>

			<p><strong th:text="#{us-citizen.reveal.naturalized.title}"></strong></p>
			<p th:text="#{us-citizen.reveal.naturalized.description}"></p>

			<p><strong th:text="#{us-citizen.reveal.derived.title}"></strong></p>
			<p th:text="#{us-citizen.reveal.derived.description}"></p>
		</div>
	</div>

	<!-- Accordion 2: How we use citizenship information -->
	<div class="reveal reveal-adjacent spacing-below-35">
		<button th:text="#{us-citizen.reveal.how-we-use-info.title}" type="button"
			class="reveal__link reveal__link-adjacent reveal__link__header-adjacent" aria-expanded="false"
			aria-controls="citizenship-info-content">
		</button>
		<div class="reveal__content reveal__content-adjacent" id="citizenship-info-content">
			<p th:text="#{us-citizen.reveal.how-we-use-info.description}"></p>
			<p th:text="#{us-citizen.reveal.how-we-use-info.description.for.example}"></p>
			<p th:text="#{us-citizen.reveal.how-we-use-info.description.additional}"></p>
			<ul class="left-justified-list ">
				<li th:text="#{us-citizen.reveal.how-we-use-info.description.additional.verify.our.identity}"></li>
				<li th:text="#{us-citizen.reveal.how-we-use-info.description.additional.subpoena.response}"></li>
				<li th:text="#{us-citizen.reveal.how-we-use-info.description.additional.law.enforcement.reasons}"></li>
			</ul>
			<p class="spacing-above-15"
				th:text="#{us-citizen.reveal.how-we-use-info.description.additional.federal.government.access.all.information}">
			</p>
		</div>
	</div>
</div>

</html>