<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div th:if="${tagline}">
        <div th:replace="~{fragments/tagline-footer :: tagline-footer}">
        </div>
    </div>
<footer id="footerMNbenefits" class="main-footer footer-minnesota-blue">
    <div class="grid">
        <div class="grid__item">
            <div class="width-one-third grid__item footer-column">
            	<h2 class="footer-heading"
            		th:text="#{generic.footer.about}"></h2>
            	<div class="font-white footer-text">
                <p th:text="#{generic.footer}"></p>
                <p th:text="#{generic.footer.mn-official-website}"></p>
                </div>
            </div>
            <div class="width-one-third grid__item footer-column">
            	<h2 class="footer-heading"
            		th:text="#{generic.footer.help-and-resources}"></h2>
            	<div class="font-white footer-text">	
                <a id="link-faq" class="capitalized footer-text" href="/faq" th:text="#{faq.faq}"></a><br/><br/>
                <a id="link-snap-nds" class="capitalized footer-text" href="/snapNDS" th:text="#{snap-nds.header}"></a><br/><br/>
                <a id="link-privacy-policy" class="capitalized footer-text" href="/privacy" th:text="#{general.privacy-policy}"></a><br/><br/>
                <a id="link-language-and-accessibility" class="capitalized footer-text"
                   href="/languageAndAccessibility" th:text="#{language-and-accessibility.language-and-accessibility}"></a><br/><br/>
				<a id="link-support-services" class="capitalized footer-text" href="/supportServices" th:text="#{support-services.support-services}"></a>
                </div>
            </div>
            <div class="main-footer__mn-logo grid__item">
                <a th:href="#{general.mn-gov-portal}"
                   class="illustration illustration--mn-logo spacing-below-0"
                   th:text="#{general.mn-gov-portal}"></a>
            </div>
        </div>
    </div>
</footer>
</div>
</html>