<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="google-analytics-body-snippet" >
    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe th:if="${@environment.getProperty('mnb-enable-google-analytics')}" th:src="@{https://www.googletagmanager.com/ns.html(id=${@environment.getProperty('google-tag-manager-id')})}"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</div>
</html>