<!DOCTYPE html>
<html th:lang="${locale.language}" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="info-pages-top-navigation">
		<header id="header-info-pages-top-navigation" class="main-header  navigation_wrapper">
			<ul class="nav-tabs">
				<li class="nav-tab">
					<a id="nav-faq" class="nav-link grid_item" data-active="faq" target="_blank" rel="noopener noreferrer"
						href="/faq" th:utext="#{faq.faq}">
						<span class="sr-only-on-mobile">Frequently Asked Questions (FAQs)</span>
					</a>
				</li>

				<li class="nav-tab">
					<a id="nav-snapnds" class="nav-link grid_item" data-active="snapNDS" target="_blank" rel="noopener noreferrer"
						href="/snapNDS" th:utext="#{snap-nds.header}">
						<span class="sr-only-on-mobile">SNAP non-discrimination statement</span>
					</a>
				</li>

				<li class="nav-tab">
					<a id="nav-privacy" class="nav-link grid_item" data-active="landing-page" target="_blank" rel="noopener noreferrer"
						href="/privacy" th:utext="#{privacy-policy.privacy-policy}">
						<span class="sr-only-on-mobile">Privacy Policy</span>
					</a>
				</li>

				<li class="nav-tab">
					<a id="nav-accessibility" class="nav-link grid_item" data-active="languageAccess" target="_blank" rel="noopener noreferrer"
						href="/languageAndAccessibility"
						th:utext="#{language-and-accessibility.language-and-accessibility}">
						<span class="sr-only-on-mobile">Language and Accessibility</span>
					</a>
				</li>
			</ul>
		</header>
	</div>
</body>
</html>
