<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="validationError(data, input)" 
   th:with="isRadioOrCheckbox=${input.isRadioOrCheckbox()},
   isFormScopeValidation=${input.getIsFormScopeValidation()},
   pageConfigObject=${pageConfigObject}">
<p class="text--error"
   th:if="${!data.isValid(pageConfigObject) && !inputData.valid(data) && !isFormScopeValidation}"
   th:aria-label="#{error.title}"
    th:id="${input.name} + '-error-p'">
  <th:block th:each="option, iter: ${input.validationErrorMessageKeys}">
    <i class="icon-warning"
       th:id="${input.name + '-error-icon'} + ${iter.index + 1}"></i>
    <!-- Add the iteration index to the id and class name if it's a radio or checkbox since they have multiple inputs  -->
    <th:block th:switch="${input.type.toString()}">
      <span th:case="'RADIO'" th:id="${input.name} + '-error-message-' + ${iter.index + 1}"
            th:class="${input.name + (iter.index + 1) + '-error'}" th:text="#{${option}}"></span>
      <span th:case="'CHECKBOX'" th:id="${input.name} + '-error-message-' + ${iter.index + 1}"
            th:class="${input.name + '-error'}" th:text="#{${option}}"></span>
      <th:block th:if="isFormScopeValidation">      
      <span th:case="SELECT" th:id="${input.name} + '-error-message-' + ${iter.index + 1}"
            th:class="${input.name + '-error'}" th:text="#{${option}}"></span>
      </th:block>
      <span th:case="*" th:id="${input.name} + '-error-message-' + ${iter.index + 1}"
            th:class="${input.name + '-error'}" th:text="#{${option}}"></span>
    </th:block>
    <br>
  </th:block>

</p>
</th:block>
</html>