<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<li class="job-row" th:fragment="job(employersName, subworkflowKey, index)" th:id="|iteration${index}|">
    <form method="post" th:action="@{|/groups/${subworkflowKey}/${index}/deleteWarning|}" class="display-flex">
        <span class="job-name" th:text="|${employersName}|"></span>
        <button class="button--link delete-btn"
                th:id="|iteration${index}-delete|"
                type="submit"
                th:text="#{job-builder.delete}"></button>
    </br>

    </form>
</li>
</body>
</html>