<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tagline-footer">
<footer id="taglineMNbenefits" class="main-footer tagline-foot-blue">
    <div class="grid tagline-footer-no-english">
		<div class="tagline-center-horizontally tagline-spacing width-auto-left">
			<span> <strong>No English? </strong></span>		
    	</div>
    	<div class="tagline-center-horizontally grid__item width-auto-left">
			<a class="button button--small button-width tagline-button">
    		<span th:replace="~{fragments/contextFragments :: noEnglishTelephoneFragment}"></span>
    		<span> Call: <strong>651-431-2000</strong></span>
			</a>
    	</div>
		<div class="tagline-center-horizontally tagline-spacing grid__item width-auto-left">
			<span> <strong> or </strong></span>	
		</div>
    	<div class="tagline-center-horizontally grid__item width-auto-left">
			<a class="button button--small button-width tagline-button">
			<span th:replace="~{fragments/contextFragments :: noEnglishTextFragment}"></span>
    		
			<span> TTY: <strong>7-1-1</strong></span>
			</a>
    	</div>						
	</div>
	<div class="grid text--centered">
		<a id="link-am" class="grid__item language-link" lang="am" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#amharic-content"
			th:utext="#{language-and-accessibility.amharic}"></a>
		<a id="link-ar" class="grid__item language-link" lang="ar" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#arabic-content"
			th:utext="#{language-and-accessibility.arabic}"></a>
		<a id="link-my" class="grid__item language-link" lang="my" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#burmese-content"
			th:utext="#{language-and-accessibility.burmese}"></a>
		<a id="link-zh" class="grid__item language-link" lang="zh" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#cantonese-content"
			th:utext="#{language-and-accessibility.cantonese}"></a>
		<a id="link-fr" class="grid__item language-link" lang="fr" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#french-content"
			th:utext="#{language-and-accessibility.french}"></a>
		<a id="link-hmn" class="grid__item language-link" lang="hmn" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#hmoob-content"
			th:utext="#{language-and-accessibility.hmoob}"></a>
		<a id="link-kar" class="grid__item language-link" lang="kar" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#karen-content"
			th:utext="#{language-and-accessibility.karen}"></a>
		<a id="link-km" class="grid__item language-link" lang="km" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#khmer-content"
			th:utext="#{language-and-accessibility.khmer}"></a>
		<a id="link-ko" class="grid__item language-link" lang="ko" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#korean-content"
			th:utext="#{language-and-accessibility.korean}"></a>
		<a id="link-lo" class="grid__item language-link" lang="lo" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#lao-content"
			th:utext="#{language-and-accessibility.lao}"></a>
		<a id="link-om" class="grid__item language-link" lang="om" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#oromo-content"
			th:utext="#{language-and-accessibility.oromo}"></a>
		<a id="link-ru" class="grid__item language-link" lang="ru" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#russian-content"
			th:utext="#{language-and-accessibility.russian}"></a>
		<a id="link-so" class="grid__item language-link" lang="so" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#soomaali-content"
			th:utext="#{language-and-accessibility.soomaali}"></a>
		<a id="link-es" class="grid__item language-link" lang="es" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#spanish-content"
			th:utext="#{language-and-accessibility.spanish}"></a>
		<a id="link-vi" class="grid__item language-link" lang="vi" target="_blank" rel="noopener noreferrer" href="/languageAndAccessibility#vietnamese-content"
			th:utext="#{language-and-accessibility.vietnamese}"></a>
	</div>
</footer>
</div>
</html>