<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>

<body>
	<div class="page-wrapper">
		<div th:replace="~{fragments/toolbar :: toolbar}"></div>
		<div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
		<section class="slab slab--shiba">
			<div class="grid">
				<div th:replace="~{fragments/cardHeader :: cardHeader}"></div>
				<main id="content" role="main" class="card spacing-above-35">
					<div class="grid__item spacing-above-35">
						<h1 class="h2 spacing-above-0" th:text="#{child-care-provider-list.would-you-like-to-add}"></h1>
					</div>
					<!--/* TODO emj delete*/-->
					<!--/*
     subworkflows:   <span th:text="${subworkflows}"> test</span></br>
     subworkflows size:   <span th:text="${subworkflows.size()}"> test</span>
</br>
     subworkflows get0 is null:   <span th:text="${subworkflows.get(0)}"> test</span>
*/-->
					<div class="grid__item boxed-content spacing-below-60">
					
						<h2 class="h3 text--centered intro-box__title" th:text="#{${page.headerKey}}"></h2>
						<!--/*	--- OUTER LOOP OF PROVIDERS START --- </br>  */-->
						<th:block th:each="subworkflow: ${subworkflows}">

									<th:block th:each="childcareProviderIteration, childcareProviderIterationStat: ${subworkflow.value}">
									<!--/*	 +++ inner loop of children start +++ </br> */-->
										
										<th:block th:with="childcareProviderName=${childcareProviderIteration.getPagesData().get('childCareProviderInfo').get('childCareProviderName').value[0]},
										childrenAtThisProvider=${childcareProviderIteration.getPagesData().get('childrenAtThisProvider')},
										fakeApplicantNameAndId='x y applicant',
                                        ">

											<h2 class="h3 list-header spacing-below-10"
												th:text="${childcareProviderName}"></h2>
<!--*/
                              childcareProviderName:     <span th:text="${childcareProviderName}"> test</span></br>
                                
 childcareProviderIteration: <span th:text="${childcareProviderIteration}"> test</span></br>
                                        childNameTokens=${#lists.toList(childcareProviderNameAndIdTokens).subList(0, childcareProviderNameAndIdTokens.length - 1)},
                                        childName=${#strings.listJoin(childNameTokens, ' ')},
                                        householdMemberId=${childcareProviderNameAndIdTokens[childcareProviderNameAndIdTokens.length - 1]}
childcareProviderNameAndIdTokens: <span th:text="${childcareProviderNameAndIdTokens}"> test</span></br>
childNameTokens: <span th:text="${childNameTokens}"> test</span></br>
childName: <span th:text="${childName}"> test</span></br>
householdMemberId: <span th:text="${householdMemberId}"> test</span></br>

providerIteration: <span th:text="${providerIteration}"> test</span></br>
providerIterationPageData: <span th:text="${providerIterationPageData}"> test</span></br>
*/-->
											<ul class="list--bulleted spacing-above-10 spacing-below-35 builder-list">
										<!--*/		-- inner loop of providers start --- </br>*/-->
												<th:block th:each="childrenAtThisProviderIteration, childrenAtThisProviderIterationStat: ${childrenAtThisProvider.get('childrenNames').value}">
														
				
														<th:block
															th:with="childAtThisProvider=${childrenAtThisProviderIteration},
                                        					childNameAndIdTokens=${childAtThisProvider.split(' ')},
                                        childNameTokens=${#lists.toList(childNameAndIdTokens).subList(0, childNameAndIdTokens.length - 1)},
                                        childName=${#strings.listJoin(childNameTokens, ' ')}
															">
									<li class="grid" >
   
        <span class="grid__item width-five-sixths word-wrap-break-word" th:text="|${childName}|"></span>

</li>						
														

															<th:block th:if="${childAtThisProvider == null}">

															</th:block>
															<th:block th:unless="${childAtThisProvider == null}">
											
															</th:block>

															<th:block th:if="${childNameAndId == childcareProviderName}">

																<!--/*
		childAtThisProvider: <span th:text="${childAtThisProvider}"> test</span></br>
																
                                providerIteration pages data keyset:      <span th:text="${providerIteration.getPagesData().keySet()}"> test</span></br>
                                providerIteration pages childrenAtThisProvider:      <span th:text="${providerIteration.getPagesData().get('childrenAtThisProvider')}"> test</span></br>
                               providerIteration  childrenNames:      <span th:text="${providerIteration.getPagesData().get('childrenAtThisProvider').get('childrenNames')}"> test</span></br>
                                providerIteration value :      <span th:text="${providerIteration.getPagesData().get('childrenAtThisProvider').get('childrenNames').getValue()}"> test</span></br>
                                */-->
																<div
																	th:replace="~{fragments/childcareListElement :: childcareProvider(${providerIteration.getPagesData().get('childrenAtThisProvider').get('childrenNames').getValue()}, ${subworkflow.key}, ${providerIterationStat.index})}">
																</div>
															</th:block>
														</th:block>

												</th:block>
										<!--/*		-- inner loop of providers end --- </br>*/-->
											</ul>
										</th:block>
									<!--/*	+++ inner loop children end +++ </br>*/-->
									</th:block>
								</th:block>
							
						</th:block>
						<div class="text--centered">
							<a class="button button--secondary" th:href="'/pages/'+${pageName}+'/navigation?option=0'">
								<i class="icon-add"></i>
								<span th:text="#{child-care-provider-list.add-a-provider}"></span>
							</a>
						</div>
			<!--/*			--- OUTER LOOP OF PROVIDERS END --- </br>*/-->
					</div>
					<a class="button button--primary" th:href="'/pages/'+${pageName}+'/navigation?option=1'"
						th:text="#{child-care-provider-list.no-thats-it}"></a>
				</main>
			</div>
		</section>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>