<div class="spacing-below-60" th:fragment="programDocuments">
	<p class="spacing-below-45 spacing-above-0" th:text="#{program-documents.docs-message}"></p>
	<section>
		<p th:utext="#{program-documents.all-applicants-header}"></p>
		<ul>

			<li>
				<p th:utext="#{program-documents.all-applicants-doc-1}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.all-applicants-doc-2}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.all-applicants-doc-3}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.all-applicants-doc-4}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.all-applicants-doc-5}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.all-applicants-doc-6}"></p>
			</li>
		</ul>
	</section>
	<section>
		<p th:utext="#{program-documents.snap-applicants-header}"></p>
		<ul>
			<li>
				<p th:utext="#{program-documents.snap-applicants-doc-1}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.snap-applicants-doc-2}"></p>
			</li>
			<li>
				<p th:utext="#{program-documents.snap-applicants-doc-3}"></p>
			</li>
		</ul>
	</section>
</div>