<div th:fragment="programDocuments">
  <p class="spacing-below-35 spacing-above-0" th:text="#{program-documents.docs-message}"></p>
  <p th:utext="#{program-documents.all-applicants-header}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-1}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-2}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-3}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-4}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-5}"></p>
  <p th:utext="#{program-documents.all-applicants-doc-6}"></p>
  <p th:utext="#{program-documents.snap-applicants-header}"></p>
  <p th:utext="#{program-documents.snap-applicants-doc-1}"></p>
  <p th:utext="#{program-documents.snap-applicants-doc-2}"></p>
  <p th:utext="#{program-documents.snap-applicants-doc-3}"></p>
</div>
