<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title th:text="#{snap-nds.title}"></title>
  <link href="/honeycrisp.min.css" rel="stylesheet"/>
  <link href="/shiba.css" rel="stylesheet"/>
  <script src="/honeycrisp.min.js"></script>
  <!-- Google Tag Manager -->
  <script th:if="${@environment.getProperty('mnb-enable-google-analytics')}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','[[${@environment.getProperty("google-tag-manager-id")}]]');</script>
  <!-- End Google Tag Manager -->

</head>
<body class="locale-en" id="snapNDS">
<div th:replace="~{fragments/google-analytics-body-snippet :: google-analytics-body-snippet}"></div>
<div class="page-wrapper slab--shiba">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <div th:replace="~{fragments/info-pages-top-navigation :: info-pages-top-navigation}"></div>
  <section class="slab spacing-above-35">
    <div class="grid">
      <div class="grid__item">
        <h1 class="spacing-below-35" th:text="#{snap-nds.header}"></h1>
		<div class="grid__item width-desktop-one-fourth">
			<a class="button button--primary spacing-below-0" th:href="@{/pages/landing/navigation}" lang="en">
				<span lang="en" th:text="#{landing.apply-now}"></span>
				<div th:replace="~{fragments/icons/icon-arrow :: icon-arrow}"></div>
			</a>
			<!--Add button to apply now in Spanish-->
			<div class="spacing-above-45">
				<a class="button button--small button-width" th:href="@{/pages/landing/navigation( lang='es')}" lang="es">
					<span lang="es" th:text="#{landing.apply-now-espanol}"></span>
					<div th:replace="~{fragments/icons/icon-arrow-black :: icon-arrow-black}"></div>
				</a>
			</div>
		</div>
      </div>
    </div>
  </section>
  <main id="content" role="main" class="slab slab--white">
    <div class="grid">
      <div class="grid__item">
        <p class="text-bold" th:text="#{snap-nds.do-not-send-applications-here}"></p>
        <p th:utext="#{snap-nds.p1}"></p>
        <p th:utext="#{snap-nds.p2}"></p>
        <p th:utext="#{snap-nds.p3}"></p>
        <ul class="list--bulleted">
          <li th:utext="#{snap-nds.mail}"></li>
          <li th:utext="#{snap-nds.fax}"></li>
          <li th:utext="#{snap-nds.email}"></li>
        </ul>
        <p th:text="#{snap-nds.eop}"></p>
        <p class="text-bold" th:text="#{snap-nds.do-not-send-applications-here}"></p>
      </div>
    </div>
  </main>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>