<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head(#{${page.pageTitle}})}"></div>
<body>
    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe th:if="${@environment.getProperty('mnb-enable-google-analytics')}" src="https://www.googletagmanager.com/ns.html?id=GTM-PZQSDKBT"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <div th:replace="~{fragments/demoBanner :: demoBanner}"></div>
  <section class="slab slab--shiba">
    <div class="grid-ignore-mobile">
      <div class="card spacing-above-0">
       <div class="spacing-below-60">
        <div class="grid__item bottom-horizontal-line-dark-grey">
          <div
              th:replace="~{fragments/icons/icon-submission-success :: icon-submission-success-large}"></div>
          <h1 th:if="${!hasUploadDocuments}" class="h2 spacing-below-0 spacing-above-10"
              th:text="|#{success.done-your-application-has-been-submitted}|"></h1>
          <h1 th:if="${hasUploadDocuments}" class="h2 spacing-below-0 spacing-above-10"
              th:text="|#{success.done-your-application-and-docs-have-been-submitted}|"></h1>

          <!-- Routing Destination -->
          <p class="spacing-below-35 spacing-above-15 text--help"
             id="submission-date"
             th:text="#{success.application-submitted-generic(${routingDestinationList}, ${T(java.time.format.DateTimeFormatter).ofPattern('MMMM d, yyyy', #locale).format(submissionTime)})}"></p>
              
         <th:block th:if="${expeditedSnap.equals(T(org.codeforamerica.shiba.output.caf.SnapExpeditedEligibility).ELIGIBLE)}">
            <div class="notice--success">
                <span id="snapExpeditedNotice" th:text="#{success.You-were-recommended-for-expedited-snap}"></span>
            </div>
         </th:block>
                 
         <div class="spacing-below-35">
      		<h2 id="confirmation-number" class="h3" th:text="|#{success.confirmation-number} ${applicationId}|">	</h2>
    	 </div>
    	</div>
        <div class="grid__item spacing-above-35">
          <h2 class="h3" th:text="#{success.helpful-resources}"></h2>
          <div class="grid-ignore-mobile">
            <div
                class="success-icons grid__item width-one-sixth spacing-above-5 spacing-below-0">
              <div th:replace="~{fragments/icons/icon-download :: icon-download}"></div>
            </div>
            <div class="grid__item width-five-sixths">
              <div class="spacing-above-0 spacing-below-15"
                   th:text="#{success.download-my-application}"></div>
                <div class="spacing-below-10">
                  <a class="link--subtle" th:href="@{/download}" id="download"
                     th:text="#{success.download-your-application}"></a>
                </div>
            </div>
          </div>

          <div class="grid-ignore-mobile spacing-above-35 spacing-below-35">
            <div class="success-icons grid__item width-one-sixth spacing-above-5">
              <div th:replace="~{fragments/icons/icon-documents :: icon-documents}"></div>
            </div>
            <div class="grid__item width-five-sixths">
              <span th:utext="#{success.additional-documents}"></span>
            </div>
          </div>
        </div>

       <div th:if="${showRecommendationLink}" id="showRecommendationLink" class="grid__item top-horizontal-line-dark-grey">
         <div class="grid__item spacing-above-35 ">
           <h2 class="h3" th:text="#{success.you-may-be-able-to-apply}"></h2>
           <div class="grid-ignore-mobile">
             <div class="success-icons grid__item width-one-sixth spacing-above-5 spacing-below-0">
               <div th:replace="~{fragments/contextFragments :: icon-bullhorn}"></div>
             </div>
             <div class="grid__item width-five-sixths">
               <div class="spacing-above-0 spacing-below-15" th:text="#{success.learn-more-about-programs}"></div>
             </div>
           </div>
         </div>
         <div class="grid-ignore-mobile">
           <a class="button button--primary spacing-above-45 spacing-below-25"
                     th:href="'/pages/'+${pageName}+'/navigation'">
             <span th:text="#{success.view-more-programs}"></span>
           </a>
         </div>
       </div>
       
       <div th:if="${!showRecommendationLink}">
        <div th:if="${showFeedback}" id="feedbackButton">
          <a class="button button--secondary spacing-above-25 spacing-below-25"
             th:href="'/pages/'+${pageName}+'/navigation'">
            <span th:text="#{success.give-us-feedback}"></span>
            <svg th:fragment="icon-arrow-black" class="icon-arrow_forward vertical-align-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
          </a>
        </div>
       </div>
        
       </div>
      </div>
    </div>
  </section>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
